[build]
builder = "NIXPACKS"
buildCommand = "pip install -r requirements.txt"

[deploy]
startCommand = "cd backend && gunicorn --bind 0.0.0.0:$PORT --workers 1 --worker-class gthread --threads 10 --timeout 0 app:app"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
